<header>
    <h1>Movie Management System</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/movies">View All Movies</a></li>
            <li><a href="/add-movie">Add a New Movie</a></li>
        </ul>
    </nav>
</header>
<hr>
